// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define _ISOC99_SOURCE
#define _FILE_OFFSET_BITS 64
#define _LARGEFILE_SOURCE
#define _USE_MATH_DEFINES
#define _CRT_SECURE_NO_WARNINGS
#define _CRT_NONSTDC_NO_WARNINGS
#define _WIN32_WINNT 0x0502
#define DHAVE_AV_CONFIG_H
#define BUILDING_avcodec
